#title{
    text-align: center;
    font-family: 'Lucida Sans';
}

#description{
    text-align: center;
    font-family: 'Lucida Sans';
}
#clarifcation{
    text-align: center;
    font-family: 'Lucida Sans';
}

#userCanvas{
    text-align: left;
    font-family: 'Lucida Sans';
    font-size: x-large;
    padding-left: 50px;
}

#sketchCanvas{
    display: flex;
    margin: auto;
    padding: 0;
    border-radius: 25px;
}

#sizeTitle{
    text-align: center;
    display: block;
    font-family: 'Lucida Sans';
}

#colorTitle{
    text-align: center;
    display: block;
    font-family: 'Lucida Sans';
}

#brushSize{
    display: block;
    margin:  0 auto;
    width: 200px;
    height: 30px;
}
#colorPicker{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 100px;
}
#gridLayout{
    display: grid;
    grid-template-columns: 1fr 1fr;
}

#canvasTools{
    display: flex;
}

#board{
    display: flex;
}
#undo{
    display: block;
    margin: 0 auto;
    width: 97px;
    height: 100px;
    font-size: x-large;
    font-family: 'Lucida Sans';
}
#redo{
    display: block;
    margin: 0 auto;
    width: 97px;
    height: 100px;
    font-size: x-large;
    font-family: 'Lucida Sans';
}
#clear{
    display: block;
    margin: 0 auto;
    width:200px;
    height: 100px;
    font-size:x-large;
    font-family: 'Lucida Sans';
}

#startGame{
    display: block;
    margin: 0 auto;
    width: 200px;
    height: 100px;
    font-size: x-large;
    font-family: 'Lucida Sans';
}